<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AddTask</title>
</head>
<body>
    <form action="{{  url_for('index')  }}" method="POST">
        <label>Add a task: </label> <br>
        <input type="text" placeholder="Task Name" name="taskname"> <br>
        <input type="text" placeholder="Task Type" name="tasktype"> <br>
        <input type="submit" value="Add Task"> <br>
    </form>
</body>
</html>